---
import Base from "../layouts/Base.astro";
---

<Base>
  <section class="home">
    <!-- <img src="images/home-img.jpg" class="home-img" alt="" /> -->
    <div class="home-content">
      <h1>
        Let's help you achieve <br />
        your goals.
      </h1>
      <p>
        Great! We're glad you're here. Please have a look at our
        <a href="/services">Services</a>
        to check on the niche problem you'd like to resolve in your business or organisation.
        If you are interested in earning experience and gain reputation as a professional
        within our organisation then apply and work with us in delivering projects
        through open source.
      </p>
      <a href="/contact" class="btn">Inquire here!...</a>
    </div>
    <div class="lottie-player-container">
      <lottie-player
        class="lottie-player"
        src="https://lottie.host/33aefa1e-fcef-42fd-81b7-b141651f72a1/klYQaCWyAx.json"
        background="transparent"
        speed="1"
        style="width: 100%; max-width: 768px; height: auto;"
        loop
        autoplay
      >
      </lottie-player>
    </div>
  </section>
</Base>
