---
import Base from "../layouts/Base.astro";
---

<Base>
  <section>
    <div class="title">
      <h1>Services offered</h1>
      <p>
        Looking below is the list of all of our services we offer. Do you have
        any issue that pops up in your mind? Read through the list of services
        to get hints on all the possibilities.
      </p>
    </div>
    <div class="services">
      <div class="service">
        <div class="icon">
          <img src="/images/001.png" alt="" />
        </div>
        <h2>Design</h2>
        Design and architecture your systems' needs and requirements in accordance
        with ISO standards and domicile policies.
      </div>
      <div class="service">
        <div class="icon">
          <img src="/images/002.png" alt="" />
        </div>
        <h2>Web Development</h2>
        Invlove software expertise of converting all your requirements in question
        to working web application solutions, then refactored to function optimally
        as you scale.
      </div>
      <div class="service">
        <div class="icon">
          <img src="/images/003.png" alt="" />
        </div>
        <h2>SEO</h2>
        Optimise your website for your business so that it appears top of results
        when searched in all serach engines.
      </div>
      <div class="service">
        <div class="icon">
          <img src="/images/004.png" alt="" />
        </div>
        <h2>Digital Marketing</h2>
        Request for insights on how to market your organisation in all online platforms
        associated with your brand.
      </div>
      <div class="service">
        <div class="icon">
          <img src="/images/005.png" alt="" />
        </div>
        <h2>Cloud Native Migrations</h2>
        Allow your business shift left by migrating your current applications to
        be cloud-native which in-turn allows reproducable and scalable operations.
      </div>
      <div class="service">
        <div class="icon">
          <img src="/images/006.png" alt="" />
        </div>
        <h2>Bug Bounty & Fixes</h2>
        Address all vulnerabilities affecting your apps quickly so that the bad guys
        don't find you unaware in production.
      </div>
    </div>
  </section>
</Base>
