---
import Base from "../layouts/Base.astro";
---

<Base>
  <section>
    <div class='title'>
      <h1>Services offered</h1>
      <p>
        Looking below is the list of all of our services we offer. Do you have
        any issue that pops up in your mind? Read through the list of services
        to get hints on all the possibilities.
      </p>
    </div>
    <div class='services'>
      <div class='service'>
        <div class='icon'>
          <img src='/images/001.png' alt='' />
        </div>
        <h2>Design</h2>
        We offer expertise in designing architecture of systems requested to client's
        needs and requirements in accordance with ISO policies and standards.
      </div>
      <div class='service'>
        <div class='icon'>
          <img src='/images/002.png' alt='' />
        </div>
        <h2>Development</h2>
        This invloves the expertise of converting all the requirements of the client
        in question to code, then refactored to function optimally.
      </div>
      <div class='service'>
        <div class='icon'>
          <img src='/images/003.png' alt='' />
        </div>
        <h2>SEO</h2>
        Optimise your website for your business so that it appears top of results
        when searched in all serach engines.
      </div>
      <div class='service'>
        <div class='icon'>
          <img src='/images/004.png' alt='' />
        </div>
        <h2>Digital Marketing</h2>
        Our clients can also request for help in marketing their brand in all online
        platforms associated with your brand.
      </div>
      <div class='service'>
        <div class='icon'>
          <img src='/images/005.png' alt='' />
        </div>
        <h2>Mobile App Development</h2>
        Convert your business ideas to mobile applications to increase more conversions
        by reaching more people using mobile phones to access your products and services.
      </div>
      <div class='service'>
        <div class='icon'>
          <img src='/images/006.png' alt='' />
        </div>
        <h2>Bug Fixing</h2>
        We offer expertise in tackling all bugs quickly that occur to web or mobile
        applications when they are already in production.
      </div>
    </div>
  </section>
</Base>
