---
const { data } = Astro.props;
---

<div class='blog-author d-flex align-items-center'>
  <img
    src='https://avatars.githubusercontent.com/u/46891477?v=4'
    class='rounded-circle flex-shrink-0'
    alt='author-image-placeholder'
    height='48px'
    width='48px'
  />
  <div>
    <h4>{data.author}</h4>
    <div class='social-links'>
      <a href='https://twitter.com/MikeTeddyOmondi' target='_blank'
        ><i class='bi bi-twitter'></i></a
      >
      <a href='https://instagram.com/miketeddyomondi' target='_blank'
        ><i class='biu bi-instagram'></i></a
      >
    </div>
    <p>{data.authorDesignation}</p>
  </div>
</div>
