---
import Categories from "./Categories.astro";
import RecentPosts from "./RecentPosts.astro";
import SearchForm from "./SearchForm.astro";
import Tags from "./Tags.astro";
---

<div class='sidebar'>
  <!-- <SearchForm /> -->

  <!-- <Categories /> -->

  <!-- <RecentPosts /> -->

  <!-- <Tags /> -->
</div>
