<div class='sidebar-item tags'>
  <h3 class='sidebar-title'>Tags</h3>
  <ul class='mt-3'>
    <li><a href='/blog/categories/general'>General</a></li>
    <li><a href='/blog/categories/business'>Business</a></li>
    <li><a href='/blog/categories/careers'>Careers</a></li>
    <li><a href='/blog/categories/software'>Software Development</a></li>
    <li><a href='/blog/categories/technology'>Technology</a></li>
  </ul>
</div>
