---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.tsx";
// import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='manifest' href='/manifest.json' />
    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='msapplication-starturl' content='/' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/blog-style.css' />
    <link rel='stylesheet' href='/css/bootstrap-icons.css' />
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='icon' href='/favicon.ico' type='image/x-icon' />
    <script
      defer
      async
      src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3101499917033212'
      crossorigin='anonymous'></script>
    <title>Rancko Solutions.</title>
    <ViewTransitions />
  </head>
  <body>
    <Header client:load />

    <slot />

    <script
      src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'
    ></script>

    <script src='/js/script.js' is:inline></script>
  </body>
</html>
